.logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.image {
    height: 250px;
    width: 400px;
}
.card {
    width: 300px;
}
.row {
    margin-bottom: 25px;
    margin-top: 50px;
}
.right-button {
    margin-left: 10px;
}
.left-button {
    margin-right: 10px;
}
.project_image {
    height: 100%;
    width: 100%;
}